@use "../../../app/constants.scss" as g;

.root {
  width: 100%;
  margin: var(--space-l) 0;
  padding: var(--space-m) var(--space-l);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px var(--foreground-highlight-rgb) solid;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    h3 {
      margin: var(--space-s) 0;
      font-weight: normal;
      color: var(--foreground-highlight-rgb);
    }

    p {
      color: var(--foreground-rgb);
    }
  }
}

@media screen and (max-width: g.$breakp-m) {
  .root {
    margin: var(--space-m) 0;
    padding: var(--space-m) var(--space-l);
  }
}
