@use "../../../app/constants.scss" as g;

.root {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--padding-main-l);
}

@media screen and (max-width: g.$breakp-m) {
  .root {
    padding: 0 var(--padding-main-m);
  }
}
