@use "../../../app/constants.scss" as g;

.root {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .period {
    width: 25%;
    margin-right: var(--space-l);
    margin-top: 0;
    padding-top: 0;
  }

  .desc {
    width: 75%;

    h3 {
      line-height: var(--line-height);
      display: block;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: var(--space-m);
    }

    p {
      margin-bottom: var(--space-m);
    }
  }
}

@media screen and (max-width: g.$breakp-m) {
  .root {
    flex-direction: column;

    .period {
      width: 100%;
      margin-top: var(--space-m);
      margin-right: 0;
      margin-bottom: var(--space-m);
    }

    .desc {
      width: 100%;
    }
  }
}
