@use "../../../app/constants.scss" as g;

.root {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--space-2l) var(--padding-main-l) 0;

  .footer {
    border-top: 1px solid var(--foreground-rgb);

    p {
      margin-top: var(--space-m);
      text-align: right;
    }
  }
}

@media screen and (max-width: g.$breakp-m) {
  .root {
    padding: var(--space-l) var(--padding-main-m) 0;
  }
}
