@use "../../../app/constants.scss" as g;

.root {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--padding-main-l);

  .cover {
    position: relative;
    margin-top: var(--space-m);
    padding: 0;

    .image {
      height: var(--image-height-l);
      object-fit: cover;
    }

    .credit {
      position: absolute;
      bottom: 0;
      right: 0;

      margin: var(--space-m);
      padding: var(--space-s) var(--space-m);
      border-radius: var(--space-s);
      background-color: var(--background-transparent-rgb);
    }
  }

  .main {
    .info {
      margin-top: var(--space-l);
      padding: 0 var(--space-s);

      p {
        margin: var(--space-s) 0;
      }

      time {
        display: block;

        margin-top: 0;
        margin-bottom: var(--space-s);
      }
    }
  }

  .article {
    ul,
    ol {
      list-style-position: inside;
      margin-top: var(--space-s);
      margin-left: var(--space-m);

      li {
        margin-bottom: var(--space-s);
      }
    }

    ul {
      li {
        list-style-type: disc;
      }
    }

    h1 {
      margin-top: var(--space-l);
    }

    h2 {
      padding-bottom: var(--space-s);
      border-bottom: 1px solid var(--foreground-rgb);
    }

    img {
      display: block;
      margin: 0 auto;
    }

    blockquote {
      margin: var(--line-height) 0 var(--line-height) var(--space-l);
      font-style: italic;

      p {
        margin-top: var(--space-s);
        margin-bottom: var(--space-s);
      }
    }

    hr {
      border: none;
      border-top: 1px dashed var(--foreground-rgb);
    }

    :global(span.katex-html) {
      display: none;
    }

    math {
      margin: var(--space-m) 0;
      font-size: var(--font-size-l);
    }

    table {
      margin: var(--space-l) auto;
      text-align: center;
      border-collapse: collapse;

      th {
        color: var(--foreground-highlight-rgb);
      }

      th,
      td {
        margin-right: 0;
        padding: var(--space-s) var(--space-m);
        border-bottom: 1px var(--foreground-rgb) solid;
      }
    }

    code {
      background-color: var(--background-code-rgb);
    }

    // block code.
    div[data-rehype-pretty-code-fragment] {
      margin: var(--space-m) 0;
      background-color: var(--background-code-rgb);
      border-radius: var(--space-m);

      div[data-rehype-pretty-code-title] {
        margin: 0 var(--space-m);
        padding: var(--space-m) var(--space-m) var(--space-m) 0;
        background-color: var(--background-code-rgb);
        border-bottom: 1px var(--foreground-rgb) solid;
        border-radius: var(--space-m) var(--space-m) 0 0;
      }

      span[data-highlighted-line] {
        background-color: var(--background-code-highlight-rgb);

        &::before {
          content: "";
          border: 1px var(--color-accent-rgb) solid;
        }
      }

      span[data-highlighted-chars] {
        background-color: var(--background-code-highlight-rgb);
      }

      pre {
        white-space: pre-wrap;
        background-color: var(--background-code-rgb) !important;
        border-radius: var(--space-m);

        code {
          padding: var(--space-m);
          background-color: var(--background-code-rgb);
          border-radius: var(--space-m);
        }
      }
    }

    // inline code.
    span[data-rehype-pretty-code-fragment] {
      background-color: var(--background-code-rgb);

      code {
        :global(span.line) {
          background-color: var(--background-code-rgb);
          padding: var(--space-2s);
        }
      }
    }

    :global(pre.mermaid) {
      svg {
        display: block;
        margin: 0 auto;

        text {
          font-size: var(--font-size-m) !important; // overwrite mermaid.
        }
      }
    }
  }
}

@media screen and (max-width: g.$breakp-m) {
  .root {
    padding: var(--space-l) var(--padding-main-m) 0;

    .cover {
      .image {
        height: var(--image-height-m);
      }

      .credit {
        font-size: var(--font-size-s);
        margin: var(--space-m);
        padding: var(--space-2s) var(--space-s);

        a {
          font-size: var(--font-size-s);
        }
      }
    }

    .main {
      .flex {
        justify-content: flex-start;
      }

      .info {
        align-items: flex-start;
      }
    }
  }
}

@media screen and (max-width: g.$breakp-s) {
  .root {
    .cover {
      .image {
        height: var(--image-height-s);
      }
    }

    .main {
      .article {
        h1 {
          font-size: var(--font-size-2l);
        }

        h2 {
          font-size: var(--font-size-l);
        }
      }
    }
  }
}
