:root {
  --font-size-3l: 2.25rem;
  --font-size-2l: 1.75rem;
  --font-size-l: 1.25rem;
  --font-size-m: 1rem;
  --font-size-s: 0.85rem;
  --font-size-2s: 0.5rem;

  --space-2l: 4rem;
  --space-l: 2rem;
  --space-m: 1rem;
  --space-s: 0.5rem;
  --space-2s: 0.25rem;

  --max-width: 960px;
  --padding-main-l: var(--space-2l);
  --padding-main-m: var(--space-l);

  --image-height-l: 400px;
  --image-height-m: 300px;
  --image-height-s: 200px;

  --background-rgb: #393e46;
  --background-transparent-rgb: #393e46a0;
  --background-dark-rgb: #222831;
  --background-light-rgb: #393e46;
  --background-code-rgb: #424750;
  --background-code-highlight-rgb: #555b67;
  --foreground-rgb: #eeeeeea0;
  --foreground-highlight-rgb: #eeeeee;
  --color-accent-rgb: #04c4ce;

  --line-height: 1.7rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground-rgb);
  background-color: var(--background-rgb);
}

a {
  color: var(--foreground-highlight-rgb);
  text-decoration: none;
}

p {
  line-height: var(--line-height);
  margin-top: var(--line-height);
  margin-bottom: var(--line-height);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: var(--font-size-3l);
  font-weight: normal;
  color: var(--color-clear-rgb);
  margin: var(--space-2l) 0 var(--space-l) 0;
}

h2 {
  font-size: var(--font-size-2l);
  font-weight: normal;
  color: var(--color-clear-rgb);
  margin: var(--space-2l) 0 var(--space-l) 0;
}

h3 {
  font-size: var(--font-size-m);
  margin: var(--space-l) 0 var(--space-m) 0;
}
