@use "../../app/constants.scss" as g;

.nav {
  position: sticky;
  top: 0;
  z-index: 10;

  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--space-l) var(--padding-main-l) 0;
  
  backdrop-filter: blur(10px);
  background-color: var(--background-transparent-rgb);
}


@media screen and (max-width: g.$breakp-m) {
  .nav {
    padding: var(--space-l) var(--padding-main-m) 0;
  }
}

